/*----------------body --------*/

body {
    margin: 0;
    padding: 0;

}




/*----------------  skriveeffekt  --------*/

/* DEMO-SPECIFIC STYLES */

.typewriter {
    width: 100%;
    position: absolute;
    top: 360px;
    max-width: 100%;
    display: flex;
}

.typewriter h1 {
    font-size: 3.2vw;
    width: 100%;

    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    flex-wrap: wrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
    margin-left: 2.9vw;

}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: mediumpurple
    }
    50% {
        border-color: mediumpurple
    }

}

/*----------------  parent  ------------*/

.sectionwrapper_header {
    display: flex;
    position: relative;
    background-image: url(img/forside-paere.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    padding-top: 40em;
    padding-bottom: 5em;
    margin-bottom: -3px;

}

.sectionwrapper_header .logo img {
    padding: 5px;
    position: absolute;
    top: 8px;
    left: 20px;
    flex-grow: 1;
    flex-basis: 100px;
    width: 10vw;
    height: 10vw;

}

@media all and (max-width: 901px) {
    .sectionwrapper_header .logo img {
        width: 15vw;
        height: 15vw;
    }
}

@media all and (max-width: 501px) {
    .sectionwrapper_header .logo img {
        width: 25vw;
        height: 25vw;
    }
}

#forside {
    display: flex;
    flex-wrap: wrap;
}


/*------------------  Header baggrund  --------------*/

* {
    color: white;
    text-decoration: none;
}


.billeder {
    margin: 0 em;
}


/*------------------  OM MIG test  ------*/

.ommig {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-image: url(img/tilpasset-baggrund.png);

}

.column_wide {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 100px;
    margin-left: 2vw;
}





.column_narrow {
    padding: 20px;
    flex-grow: 2;
    flex-basis: 400px;
    font-family: 'Raleway', sans-serif;
}

.bottom {
    align-self: stretch;
}

/*------------------  OM MIG  --------------*/

/*#ommig {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(img/om-mig-bagrund-magenta.png);
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    padding-top: 8em;
    padding-bottom: 3em;
    margin-bottom: -0.5em;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    background-size: cover;
    align-items: baseline;


}


#ommig .columnpige {

    flex-grow: 1;
    flex-basis: 100px;
    position: relative;
    align-self: center;
}


#ommig .columntekst p {

    flex-grow: 2;
    margin-left: 2vw;
    flex-basis: 400px;
    color: white;
    font-family: 'Raleway', sans-serif;

}

/*------------------  OM MIG ANIMATION  --------------*/

#pige_container {
    position: relative;
    margin-top: 6vw;

}

#pige_sprite {
    background-image: url(sprite-girls.svg);
    background-size: 900% 200%;
    width: 20vw;
    height: 20vw;

}

@media all and (max-width: 901px) {
    #pige_sprite {
        width: 30vw;
        height: 30vw;
    }
}

@media all and (max-width: 401px) {
    #pige_sprite {
        width: 40vw;
        height: 40vw;
    }
}

.pige_start_pos {
    left: -60%;
}

.pige_move_right {
    animation-name: pige_move_right_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes pige_move_right_kf {
    0% {
        left: -60%;
    }
    100% {
        left: 22%;
    }
}

.pige_walkcycle {
    animation-name: pige_walkcykle_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
}

@keyframes pige_walkcykle_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -900% 0%;
    }
}


/***pige-show****/

.pige_show {
    animation-name: pige_show_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
}

@keyframes pige_show_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -500% -100%;
    }
}



/*------------------  CONTAINER  --------------*/

.container {
    flex-wrap: wrap;
    display: flex;
    margin-top: .2vw;

}

/*------------------  Billede 1  --------------*/

#a2 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 1vw;

    margin-left: 0vw;
    position: absolute;
}

#a2 .column1 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 01  --------*/

#a02 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 41.7vw;

    margin-left: 0vw;
    position: absolute;
}

#a02 .column02 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 2  --------------*/

#a3 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 1vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;

}

#a3 .column2 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;
}

/*------------------  tekst 02  --------*/

#a03 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 41.7vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;
}

#a03 .column03 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 3(4)  --------------*/

#a4 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 49.8vw;

    margin-left: 50.5vw;
    position: absolute;

}

#a4 .column3 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 03(4)  --------*/

#a04 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 90.5vw;

    margin-left: 50.5vw;
    position: absolute;
}

#a04 .column04 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 4(3)  --------------*/

#a5 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 49.8vw;
    left: 0vw;
    margin-left: 0vw;
    position: absolute;

}

#a5 .column4 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 04 (3) --------*/

#a05 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    left: 0vw;
    margin-top: 90.5vw;

    margin-left: 0vw;
    position: absolute;
}

#a05 .column05 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 5  --------------*/

#a6 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 98.6vw;

    margin-left: 0vw;
    position: absolute;

}

#a6 .column5 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 05  --------*/

#a06 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 139.3vw;
    margin-left: 0vw;
    position: absolute;
}

#a06 .column06 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 6  --------------*/

#a7 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 98.6vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;

}

#a7 .column6 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 06  --------*/

#a07 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 139.3vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;
}

#a07 .column07 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 7 (8) --------------*/

#a8 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 147.5vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;

}

#a8 .column7 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 07  --------*/

#a08 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 188.2vw;

    margin-left: 0vw;
    position: absolute;
}

#a08 .column08 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 8 (7) --------------*/

#a9 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 147.5vw;
    /*left: 2vw;*/
    margin-left: 0vw;
    position: absolute;

}

#a9 .column8 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 08  --------*/

#a09 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 188.2vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;
}

#a09 .column09 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 9  --------------*/

#a10 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 196.3vw;
    /*left: 2vw;*/
    margin-left: 0vw;
    position: absolute;

}

#a10 .column9 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 09  --------*/

#a010 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 237vw;

    margin-left: 0vw;
    position: absolute;
}

#a010 .column010 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  Billede 10  --------------*/

#a11 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 196.3vw;
    left: 50.5vw;
    margin-left: 0vw;
    position: absolute;

}

#a11 .column10 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  tekst 10  --------*/

#a011 img {
    width: 49%;
    max-width: 100%;
    height: auto;
    margin-top: 237vw;
    left: 50.5vw;

    margin-left: 0vw;
    position: absolute;
}

#a011 .column010 {
    flex-basis: 100px;
    flex-grow: 1;
    flex-basis: 100px;

}

/*------------------  mereomprojektet.html  --------------*/

.mereomprojektet {
    /*display: flex;
    flex-wrap: wrap;*/
    margin: 0;
    /*justify-content: space-between;*/
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-image: url(img/bl%C3%A5-baggrund.png);
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 5em;
    margin-bottom: 3px;
    background-size: cover;
}

.lys h1 {
    color: darkblue;
    margin-top: 120px;
    flex-grow: 2;
    flex-basis: 100px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.lys h2 {
    color: darkblue;
    margin-top: 10px;
    flex-grow: 2;
    flex-basis: 100px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.lys p {
    color: darkblue;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    flex-grow: 4;
    flex-basis: 200px;
    font-family: 'Raleway', sans-serif;
    text-align: center;


}


.mereomprojektet .lys {
    background-image: url(img/lys.png);
    width: 100%;
    top: -30px;
    padding-bottom: 25%;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-basis: 100px;
    margin-bottom: -500px;

}

.mereomprojektet .logo img {
    padding: 5px;
    position: absolute;
    top: 8px;
    left: 20px;
    flex-grow: 1;
    flex-basis: 100px;
    width: 10vw;
    height: 10vw;

}

@media all and (max-width: 901px) {
    .mereomprojektet .logo img {
        width: 15vw;
        height: 15vw;
    }
}

@media all and (max-width: 501px) {
    .mereomprojektet .logo img {
        width: 25vw;
        height: 25vw;
    }
}



/*------------------  FADE --------------*/

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.7;
}

/*------------------  Billede 13  --------------*/

/*------------------  Billede 14  --------------*/
